{% extends 'base.html' %}
{% load static %}
{% load nepali %}
{% load widget_tweaks %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% endblock %}
{{ form.media }}

{% block content %}

{% if member_created %}
<div class="panel panel-success">
  <div class="panel-body">
    The Member {{ member }} Was Added
  </div>
</div>
{% endif %}


<h3>{{globals.text.signup_for_members}}</h3>
<div class="container-fluid">
  <div class="row">
        {{ form.non_field_error }}
    <div class="col-sm-9">

      <form method="POST" role="form" class="form-horizontal">{% csrf_token %}
        <br>
        <div class="form-group">
          <div class="container-fluid">
            <div class="col-sm-6">
              <label for="form.first_name.id_for_label">{{ form.first_name.label|nepali }}</label>
              {% render_field form.first_name placeholder=form.first_name.label|nepali class="form-control" autofocus=true %}
            </div>
            <div class="col-sm-6">
              <span class="errorlist">         {% if form.first_name.errors %}   {{form.first_name.label|nepali}} - {{ form.first_name.errors.as_text|nepali }} {% endif %} </span>
            </div>
          </div>
          <div class="container-fluid">
            <div class="col-sm-6">
              <label for="form.last_name.id_for_label">{{ form.last_name.label|nepali }}</label>
              {% render_field form.last_name placeholder=form.last_name.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">       {% if form.last_name.errors %}     {{form.last_name.label|nepali}} - {{ form.last_name.errors.as_text|nepali }} {% endif %}</span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.gender.id_for_label">{{ form.gender.label|nepali }}</label>
              {% render_field form.gender placeholder=form.gender.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">       {% if form.gender.errors %}     {{form.gender.label|nepali}} - {{ form.gender.errors.as_text|nepali }} {% endif %} </span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.username.id_for_label">{{ form.ward_no.label|nepali }}</label>
              {% render_field form.ward_no placeholder=form.ward_no.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">          {% if form.ward_no.errors %}  {{form.ward_no.label|nepali}} - {{ form.ward_no.errors.as_text|nepali }} {% endif %}</span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.tole.id_for_label">{{ form.tole.label|nepali }}</label>
              {% render_field form.tole placeholder=form.tole.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">        {% if form.tole.errors %}     {{form.tole.label|nepali}} - {{ form.tole.errors.as_text|nepali }} {% endif %} </span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.city.id_for_label">{{ form.city.label|nepali }}</label>
              {% render_field form.city placeholder=form.city.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">          {% if form.city.errors %}  {{form.city.label|nepali}} - {{ form.city.errors.as_text|nepali }} {% endif %}</span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.home_phone.id_for_label">{{ form.home_phone.label|nepali }}</label>
              {% render_field form.home_phone placeholder=form.home_phone.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">        {% if form.home_phone.errors %}     {{form.home_phone.label|nepali}} - {{ form.home_phone.errors.as_text|nepali }} {% endif %} </span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.parent_name.id_for_label">{{ form.parent_name.label|nepali }}</label>
              {% render_field form.parent_name placeholder=form.parent_name.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">       {% if form.parent_name.errors%}     {{form.parent_name.label|nepali}} - {{ form.parent_name.errors.as_text|nepali }} {% endif %} </span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.telephone_mobile.id_for_label">{{ form.telephone_mobile.label|nepali }}</label>
              {% render_field form.telephone_mobile placeholder=form.telephone_mobile.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">    {% if form.telephone_mobile.errors %}         {{form.telephone_mobile.label|nepali}} - {{ form.telephone_mobile.errors.as_text|nepali }} {% endif %}</span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.school_name.id_for_label">{{ form.school_name.label|nepali }}</label>
              {% render_field form.school_name placeholder=form.school_name.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">    {% if form.school_name.errors %}         {{form.school_name.label|nepali}} - {{ form.school_name.errors.as_text|nepali }} {% endif %}</span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.school_number.id_for_label">{{ form.school_number.label|nepali }}</label>
              {% render_field form.school_number placeholder=form.school_number.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">    {% if form.school_number.errors %}         {{form.school_number.label|nepali}} - {{ form.school_number.errors.as_text|nepali }} {% endif %}</span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.school_class.id_for_label">{{ form.school_class.label|nepali }}</label>
              {% render_field form.school_class placeholder=form.school_class.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">        {% if form.school_class.errors %}   {{form.school_class.label|nepali}} - {{ form.school_class.errors.as_text|nepali }} {% endif %} </span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.roll_no.id_for_label">{{form.roll_no.label|nepali}}</label>
              {% render_field form.roll_no placeholder=form.roll_no.label|nepali class="form-control" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">      {% if form.roll_no.errors %}   {{form.roll_no.label|nepali}} - {{ form.roll_no.errors.as_text|nepali }} {% endif %}  </span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.date_of_birth.id_for_label">{{form.date_of_birth.label|nepali}}</label>
              {% render_field form.date_of_birth placeholder=form.date_of_birth.label|nepali class="form-control vDateField" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">   {% if form.date_of_birth.errors %}    {{form.date_of_birth.label|nepali}} - {{ form.date_of_birth.errors.as_text|nepali }} {% endif %} </span>
            </div>
          </div>
          <div class="container-fluid"> 
            <div class="col-sm-6">
              <label for="form.date_of_expiration.id_for_label">{{form.date_of_expiration.label|nepali}}</label>
              {% render_field form.date_of_expiration placeholder=form.date_of_expiration.label|nepali class="form-control vDateField" %}
            </div>	
            <div class="col-sm-6">
              <span class="errorlist">   {% if form.date_of_expiration.errors %}    {{form.date_of_expiration.label|nepali}} - {{ form.date_of_expiration.errors.as_text|nepali }} {% endif %} </span>
            </div>
          </div>
        <div class="form-group">
          <div class="col-md-4 col-md-offset-4">
            <button class="btn btn btn-primary btn-block" type="submit" id="id_submit">{{ globals.text.create_member }}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}


{%block post-js-external %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% static 'admin' %}/";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "20700";</script>
<script type="text/javascript" src="/admin/jsi18n/"></script>
<script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/related-widget-wrapper.js' %}"></script>
{% endblock %}
