{% extends 'base.html' %}
{% load static %}

{% block extras %}
{% endblock %}

{% block css %}
<link href="{% static 'css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block jumbotron %}
{% endblock %}



{% block content %}
<br><br><br>
<div class="alert alert-info">
  <div align=center>
    <h3>{{ globals.yalms.org_short_name }} लग-इन</h3>
    <p>{{ globals.yalms.org_motto }}</p>
  </div>
</div>

{% if code == 0 %}
<div class="container">
  <div class="alert alert-danger" align=center><strong>Oh, no! </strong>{{ code_msg }} </div>
</div>
{% endif %}

<div class="col col-sm-offset-3 col-sm-6">
  <form class="form-signin" method="POST">
    {% csrf_token %}
    <label for="username">username</label>
    <input class="form-control" name="username" type="text" value="{{username}}" aria-label="" required autofocus>
    <label for="password">password</label>
    <input class="form-control" name="password" type="password" aria-label+"" required>
    <hr>
    <input type="submit" class="btn btn-success form-control" value="login">
  </form>
</div>


{% endblock %}
