{% extends 'base.html' %}
{% load nepali %}
{% load datefilters %}

{% block content %}
<div class="text-primary" align=center>
  <h3><span class="label label-primary">Search for a member of {{ globals.yalms.org_short_name }}</span></h3>
</div>
<hr>
<div class="container-fluid">
<div class="col col-sm-6 col-sm-offset-3">
  <form class="form" method="get">
    <label for="username"><div class="text-info">Enter person's username</div></h4></label>
      <div class="input-group">
	<div class="input-group-btn">
	</div>
  <input type="text" name="username" class="form-control panel-success" value="" aria-label="" required {% if not_found != True or users.count == 0 %}autofocus{% endif %}>
	<div class="input-group-btn">
	  <input type="submit" value="Find" class="btn btn-success"></input>
	</div>
      </div><!-- /input-group -->
        </form>
</div> <!-- col -->
</div>
<br>
{% if not_found %}
<div class="container-fluid">
  <div class="alert alert-warning">
  <span class="label label-warning">{{ username }}</span> नामको व्यक्ति भेट्टाउन सकिएन।  </div>
  {% for usr in users %}
  <div class="col col-sm-8 col-sm-offset-2">
    <div align=center class="well">
      <h1 style="{% if usr.active %}color:red{% endif %}"><a href="{% url 'profile' username=usr.username %}">{{ usr.get_name|title }}</a></h1>
      <h4>{{ usr.user_type.type|title }} {{ usr.date_joined|tobs }} देखी  {{ globals.text.member }}</h4>
      <p>उहाँले <span class="label label-info">{{ usr.lend_set.all.count }}</span> {% if len_books_borrowed == 1 %}{{ globals.text.book }}{% else %}{{ globals.text.books }}{% endif %} लिनु भएको छ।</p>
      <p> {{ globals.text.group }} - {% for group in usr.groups.all %} {{ group.name }} {% endfor %}</p>
      <br>
      <a href="{% url 'profile' username=usr.username %}">{{ globals.text.more_info }} </a>
    </div> <!-- well -->
  </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}
