{% extends 'base.html' %}
{% load static %}


{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}" />
{% endblock %}


{{ borrowed }}

{% block content %}


{% if borrowed == 4 %}

<div class="text-primary" align=center>
  <h3><span class="label label-primary">Lend a book from {{ globals.yalms.org_short_name }} archives</span></h3>
</div>
<hr>
<div class="container-fluid">
  <form class="form" method="POST">
    {% csrf_token %}
    <div class="col col-sm-offset-3 col-sm-6">
      <div class="form-row field-last_login">
        <label for="date">{{ globals.text.date_lended }}</label>
        <input class="form-control vDateField" name="date" type="text" value="{{ date_add }}" aria-label="">
      </div>
      <div class="form-row field-last_login">
        <label for="username">{{ globals.text.username }}</label>
        <input class="form-control" name="username" type="text" aria-label="" required autofocus>
      </div>
      <div class="form-row field-last_login">
        <label for="bookID">{{ globals.text.accession_number }}</label>
        <input class="form-control" name="bookID" type="text" aria-label="" required>
      </div>
      <div class="form-row field-last_login">
        <input type="submit" class="btn btn-success" value="{{ globals.text.lend_book }}">
      </div>
    </div>
  </form>
</div>

{% endif %}


<div class="container-fluid">
  {% if borrowed == 1 %}
  <div class="alert alert-success"><h3>
      <a href="{% url 'profile' username=got_user.username %}"><div class="label label-info">{{ got_user.get_name }}</div></a> has borrowed the book <a href="{% url 'book' id=book.id %}"><div class="label label-info">{{book.title}}</div>
        {% elif borrowed == 2 %}
        <div class="alert alert-danger"><h3>
            The Book <div class="label label-warning"><a href="{% url 'book' id=book.id %}">{{book.title}}</a></div> is already being borrowed by <div class="label label-warning"><a href="{% url 'profile' username=book.get_borrower.username %}">{{ book.get_borrower.get_name }} ({{ book.get_borrower.username }})</a></div>
            {% elif borrowed == 3 %}
            <div class="alert alert-warning">
              The user <a href="{% url 'profile' username=got_user.username %}">{{ got_user.username }}</a> has already borrowed {{ globals.books.borrow.max_books }} books
            </div>
            {% elif borrowed == 0 %}
            <div class="alert alert-danger"><h3>
                The Book <div class="label label-warning"><a href="{% url 'book' id=book.id %}">{{book.title}}</a></div> is already being borrowed by <div class="label label-warning"><a href="{% url 'profile' username=book.get_borrower.username %}">{{ book.get_borrower.get_name }} ({{ book.get_borrower.username }})</a></div>
            {% elif borrowed == 0 %}
            <div class="alert alert-danger">
                <h3> {{ got_user }}को सदस्यता हटिएको छ! </h3>
            </div>
                {% endif %}
              </h3>
            </div> <!-- alert -->
        </div> <!-- container -->
  </div>


  {% endblock %}
  {%block post-js-external %}


  <script type="text/javascript">window.__admin_media_prefix__ = "{% static 'admin' %}/";</script>
  <script type="text/javascript">window.__admin_utc_offset__ = "20700";</script>
  <script type="text/javascript" src="/admin/jsi18n/"></script>
  <script type="text/javascript" src="{% static 'admin/js/core.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/admin/RelatedObjectLookups.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/actions.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/calendar.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/admin/DateTimeShortcuts.js' %}"></script>
  <script type="text/javascript" src="{% static 'admin/js/related-widget-wrapper.js' %}"></script>
  {% endblock %}
