{% extends 'base.html' %}
{% load datefilters %}
{% load nepali %}
{% load static %}
{% block css %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
<div class="container-fluid">
  <!--
      The following menu has the following structure. 
      [ Note that the structure and content will be different for different
      users depending on their permission levels.]


              {{ globals.text.add_person }}
                            |
                            |
                            |
              _____________________________
              |                           |
              |                           |
        Add a new member           Add a new worker 

  -->
  <div class="actions" align=center>
    <div class="btn-group">
      <a title="Manage Permission Groups" href="{% url 'almsGroupsHome' %}" class="btn btn-lg btn-primary">{{ globals.text.permissions }}</a>
      <a title="Manage Book Data" href="{% url 'booktoolHome'%}" class="btn btn-lg btn-primary">{{ globals.text.books }}</a>
      {% if request.user.is_staff %}
      <a title="Manage Home Page" href="{% url 'writeHomeBody' %}" class="btn btn-lg btn-primary">{{ globals.text.home }}</a>
      {% endif %}
      <a href="" class="btn btn-lg btn-primary">{{ globals.text.groups }}</a>
      {% if request.user.is_superuser %}
      <a href="{%  url 'settingsHome' %}" class="btn btn-lg btn-primary">{{ globals.text.settings }}</a>
      <a href="{%  url 'addWorker' %}" class="btn btn-lg btn-primary">{{ globals.text.worker }}हरु</a>
      {% endif %}
      <a href="{% url 'addMember' %}" class="btn btn-lg btn-primary">{{ globals.text.members }}</a>
      <a href="{% url 'miscFieldsHome' %}" class="btn btn-lg btn-primary">किताबका क्षेत्रहरू</a>
    </div>
  </div>
  <br>
  <h4><i>{{ globals.text.summary_of_activities }}</i></h4>
  <table class="table table-hover">
    <thead>
      <th>{{globals.text.date}}</th>
      <th>{{globals.text.members}}</th>
      <th>{{globals.text.books_cataloged}}</th>
      <th>{{globals.text.late_fees_charged}}</th>
    </thead>
    <tbody>
      <tr>
        <td>
          {{ start_date|tobs }} सम्म
        </td>
        <td>
          {{ members_added_before_tp|length }}
        </td>
        <td>
          {{ books_cataloged_before_tp|length }}
        </td>
        <td>
          {{ late_fees_charged_before_tp }}
        </td>
      </tr>
      <tr>
        <td>
          अघिल्लो {{ time_period }} महिना - {{ start_date|tobs|no_to_np}} देखि {{ date|tobs|no_to_np}} सम्म
        </td>
        <td>
          {{ members_added_during_tp|length }}
        </td>
        <td>
          {{ books_cataloged_during_tp|length }}
        </td>
        <td>
          {{ late_fees_charged_during_tp }}
        </td>
      </tr>
      <tr>
        <td>
          {{globals.text.total}}
        </td>
        <td>
          {{ total_members_count }}
        </td>
        <td>
          {{ total_books_count }}
        </td>
        <td>
          {{ total_fees_charged }}
        </td>
      </tr>
    </tbody>
  </table>

  {% if recently_added_books|length != 0 %}

  <h4><i>{{ globals.text.recently_added_books }}</i></h4>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>{{ globals.text.accession_no }}</th>
          <th>{{ globals.text.title }}</th>
          <th>{{ globals.text.call_no}}</th>
          <th>{{ globals.text.authors }}</th>
          <th>{{ globals.text.publisher }}</th>
          <th>{{ globals.text.keywords }}</th>
          <th>{{ globals.text.date_added }}</th>
        </tr>
      </thead>
      <tbody>
        {% for book in recently_added_books %}
        <tr>
          <td>{{book.accession_number}}</td>
          <td><a href="{% url 'book' book.id %}">{{book.get_title}}</a></td>
          <td>{{book.call_number}}</td>
          <td>{{book.get_authors}}</td>
          <td>{{book.get_publishers}}</td>
          <td>{{book.get_keywords}}</td>
          <td>{{book.accessioned_date|tobs}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  {% endif %}
  <h4><i>{{ globals.text.recently_added_members }}</i></h4>
      <a title="All members" href="{% url 'all-members' %}" class="btn btn-primary">{{ globals.text.all_members }}</a>
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>
          {{ globals.text.name }}
        </th>
        <th> {{ globals.text.username }} </th>
        <th> {{ globals.text.school_name}} </th>
        <th> {{ globals.text.date_joined}} </th>
      </tr>
    </thead>
    <tbody>
      {% for member in recently_added_members %}
      <tr>
        <td> {{ member.get_name }} </td>
        <td> {{ member.username }} </td>
        <td> {{ member.school_name|nepali }} </td>
        <td> {{ member.date_joined.date|nepali }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
