{% extends 'base.html' %}

{% block content %}

{% if state == 0 %}
<div class="container-fluid">
  <div align=center class="col col-sm-offset-3 col-sm-6">
  <div class="well">
    <h1>{{ book.title|title }}</h1>
    <h4>{{ globals.text.author }} :  {{ book.get_authors|title }}</h4> <!--  -->
    <h4> {{ globals.text.accession_number}} {{ book.accession_number }} </h4> <!--  -->
    <a href="{% url 'book' book.id %}">{{globals.text.more_info}}</a> <!--  -->
  </div> <!-- jumbotron -->
  </div>
  
</div><!-- container -->

<div align=center>
  <h3>के यो किताबलाई हटाउने हो?</h3>
  <a class="btn btn-danger" href="{% url 'delete_book' book.id %}">{{globals.text.discard_book}}</a>
</div>

{% elif state == -1 %}

<div class="alert alert-warning">{{ message }}</div>

{% endif %}

{% endblock %}
