{% extends 'base.html' %}

{% load static %}
{% load misc %}

{% block css %}
<link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block css-code %}

body{
background-color: #f7f7f7;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn{
padding: 1px 25px;
font-size: 20px;
line-height: 1.5;
border-radius: 6px;
}
{% endblock %}

{% block search_navbar %}
{% endblock %}

{% block extras %}
{% endblock %}

{% block title-tag %}
{% endblock %}

{% block content %}
<div style="position: relative; top: 2em" class="container-fluid">
  <div  class="col col-sm-4 col-sm-offset-4 logo logo_2"></div>
  <div class="col col-sm-4"></div>
  <div class="col col-sm-12">
    <h2 align=center>
      <a href="{% url 'about-library' %}">{{ globals.yalms.org_long_name}}</a> संग्रहहरुमा खोजी गर्नुहोस्</h2>
  </div>
  <div class="col col-sm-8 col-sm-offset-2">
    {% include "head/search_body.html" %}
    <br>
  </div>
  <div class="col col-sm-2"></div>
  <div class="container">
    <div align=center class="col col-sm-12">
      <h3>केही लोकप्रिय किताबहरु</h3>
    </div>
    <div class="featured-books col-sm-12">
      <table>
        <td>
          {% for book in popular_books %}
          <tr>
          <a href="{% url 'book' id=book.id  %}">
            <div class="col col-sm-4 featured-book">
                <h4><i>{% if book.get_authors %}{{ book.get_pretty_authors }}को   {% endif %} {{ book.get_pretty_title }}</h4></i>
              {% if book.get_publishers %}
              <p>
              {{ globals.text.publisher }} - {{ book.get_pretty_publishers }}
              </p>
              {% endif %}
              <p class="text-primary">
              {% if book.accession_number|mod:3 == 0 %}
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              {% elif book.accession_number|mod:2 == 0 %}
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              {% elif book.accession_number|mod:5 == 0 %}
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              {% else %}
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              <span class="glyphicon glyphicon-star-empty"></span>
              {% endif %}
              </p>
            </div>
        </a>
          </tr>
          {% endfor %}
        </td>
      </table>
    </div>
  </div>
</div>
{% endblock %}
