{% extends 'base.html' %}
{% load datefilters %}
{% load nepali %}
{% load static %}
{% block css %}
<link href="{% static 'css/dashboard.css' %}" rel="stylesheet">
{% endblock %}



{% block content %}
<div class="container-fluid">
  <table class="table table-hover table-responsive">
    <thead>
      <tr>
        <th>
          {{ globals.text.name }}
        </th>
        <th> {{ globals.text.username }} </th>
        <th> {{ globals.text.school_name}} </th>
        <th> {{ globals.text.date_joined}} </th>
      </tr>
    </thead>
    <tbody>
      {% for member in members %}
      <tr>
        <td> {{ member.get_name }} </td>
        <td> {{ member.username }} </td>
        <td> {{ member.school_name|nepali }} </td>
        <td> {{ member.date_joined.date|nepali }} </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}
