{% extends 'base.html' %}


{% block content %}

<div class="text-primary" align=center>
  <h3><span class="label label-primary">Return a book to {{ globals.yalms.org_short_name }} archives</span></h3>
</div>
<hr>
{% if code == "error" %}
<div class="alert alert-warning">
  There was an error in the input
</div>

{% elif code == "None" %}
<div class="col col-sm-offset-3 col-sm-6" align=center>
  <form method="GET" class="form">
    <label for="bookID">{{ globals.text.accession_number }}</label>
    <input type="text" class="form-control" name="bookID" aria-label="" required autofocus>
    <hr>
    <input type="submit" class="btn btn-success" value="{{ globals.text.return_book }}">
  </form>
</div>
{% elif code == "not_found" %}
<div class="alert alert-danger">
  Book with accession number {{ accession_number }} was not found
</div>
<div class="col col-sm-offset-3 col-sm-6">
  <form method="GET" class="form">
    <label for="bookID">Book Accession Number</label>
    <input type="text" class="form-control" name="bookID" aria-label="" required autofocus>
    <hr>
    <input type="submit" class="btn btn-success">
  </form>
</div>
{% elif code == "success" %}

<div align=center>
  <div class="well">
    <h2>{{ lend_obj.book.title }}</h2>
    <h4>borrowed by : {{ lend_obj.user.get_name }}</h4>
    <h4>Borrowed On : {{ lend_obj.lending_date}} ({{ lend_obj.get_borrowed_time }} days)</h4>
    <h4>Accession Number : {{ lend_obj.book.accession_number }}</h4>
    <h4>Call Number : {{ lend_obj.book.call_number }}</h4>
  </div>
</div>				      


<div class="alert alert-success">
  Return the book {{ lend_obj.book.title }} from {{ lend_obj.user.get_name }} with late fees <span class="text-warning">Rs.{{ late_fees }}</span>?
</div>

  <form class="form" method="post">
    {% csrf_token %}
    <input classs="form-control" name="bookID" type="hidden" value="{{ lend_obj.book.accession_number }}">
    <input class="btn btn-success" type="submit" value="{% if late_fees != 0 %}Accept Late Fees and Return Book{% else %}Return Book{% endif %}">
  </form>
</div>
{% elif code == "book_returned" %}
<div class="alert alert-info">The book {{ lend_obj.book.title }} has been returned from {{ lend_obj.user.get_name }}</div>
{% endif %}
{% endblock %}
