{% extends 'base.html' %}
{% load static %}
{% load nepali %}


{% block css %}
<link href="{% static 'css/search_books.css' %}" rel="stylesheet">
{% endblock %}

{% block post-js %}
{% endblock %}

{% block content %}
<div class="container-fluid search-results">
  {% if not_found == False and book_pages %}
  <ul class="pagination">
    {% for each in book_pages %}
    <li {% if each == books.number %} class="active" {% endif%}><a href="?search={{value}}&type={{type}}&page={{ each }}">{{ each }}</a></li>
    {% endfor %}
  </ul>
</div>
<div class="alert alert-info"<h2><span class="text-primary">{{ type|lower }}</span>मा <span class="text-primary">{{ value }}</span> खोज्दा <span class="badge"> {{ total_books_len }}</span>अोटा किताबहरु भेटिएँ। </h2></div>
<table class="table table-bordered table-hover">
  <tbody>
  {% for book in books %}
  <tr>
    <div class="well book">
      <div class="container-fluid">
        <div class="col col-sm-1">
          <font size=5>
            <div align=center>
              <a class="gly gly-info" href="{% url 'book' book.id %}?source=search" title="{{ globals.text.more_info }}"><span class="glyphicon glyphicon-info-sign"></span></a>
            </div> <!-- more_info div -->
            <div align=center>
              <a class="gly gly-warning" href="{% url 'editEntry' book.id %}" title="{{ globals.text.edit_book }}"><span class="glyphicon glyphicon-edit"></span></a>
            </div> <!-- more_info div -->
          </font>
        </div>
        <div class="col col-sm-11">
          <div class="book_prop title">
            <a href="{% url 'book' book.id %}?source=search"> <span class="glyphicon glyphicon-book text-primary"></span> {{book.get_title}}</a>
	    
          </div> <!-- title div -->
	  <a href="{% url 'book' book.id %}?source=search">{{ request.get_host }}{% url 'book' book.id %}</a>
          <div class="book_prop authors">
            {{ globals.text.authors }} : <i>{% if book.get_authors %} {{book.get_authors | title}} {% else %}{{ globals.text.no_authors }}{% endif %}</i>
          </div> <!-- authors div -->
          <div class="book_prop keywords">
            {{ globals.text.keywords}} :<i> {{book.get_pretty_keywords | title}}</i>
          </div> <!-- keywords div -->
          <div class="book_prop publishers">
            {{ globals.text.publisher }} : <i> {{book.get_pretty_publishers | title}}</i>
          </div> <!-- publishers div -->
          <div class="misc">
            <div class="book_prop col col-sm-3 accession_number">
              {{ globals.text.accession_number }} : {{book.accession_number|no_to_np}}
            </div> <!-- accession number div -->
            <div class="book_prop col col-sm-3 call_number">
              {{ globals.text.call_number }} : {{book.get_call_number}}
            </div> <!-- call_number div -->
            <div class="book_prop col col-sm-3 series">
              {{ globals.text.series }} :{% if book.get_series %} {{book.get_pretty_series | title}}{% else %}{{ globals.text.no_series}}{% endif %}
            </div> <!-- series div -->
            <div class="book_prop col col-sm-3 edition">
              {{ globals.text.edition }} : {% if book.get_edition %} {{book.get_pretty_edition | title}}{% else %}{{ globals.text.no_edition}}{% endif %}
            </div> <!-- edition -->
          </div>
          <div class="is_available">
            {% if book.is_discarded == True %}
            <span class="text-danger glyphicon glyphicon-remove"> किताब  पुस्तकालय बाट हटाइएको छ। </span>
            {% elif book.is_borrowed == True %}
            <span class="text-danger glyphicon glyphicon-remove"> <a href="{% url 'profile' book.get_borrower%}">{{book.get_borrower.get_name}}</a> लिनु भएको छ  </span>
            {% else %}
            <span class="text-success glyphicon glyphicon-ok">  {{ globals.text.available }}</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    </a>
  </div>
</tr>
{% endfor %}
</tbody>
</table>
<ul class="pagination">
{% for each in book_pages %}
<li {% if each == books.number %} class="active" {% endif%}><a href="?search={{value}}&type={{type}}&page={{ each }}">{{ each }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% if not_found == None %}
{% elif not_found == True %}
<h4><div class="alert alert-warning">
  The book with <span class="label label-warning">{{ type }}</span> containing <span class="label label-warning">{{ value }}</span> was not found.
        </div></h4>
        {% endif %}
                        </div>

                        {% endblock %}
