{% extends 'base.html' %}

{% load datefilters %}

{% block content %}


{{ globals.text.delete }} {{ field.key }}

<form class="form" method="POST">
  {% csrf_token %}
  <h4>Are You sure your want to delete this field?</h4>
  <input type="hidden" name="delete" value="1">
  <input type=submit class="btn btn-primary" value="Yes">
  <a href="{% url 'miscFieldsHome' %}" class="btn btn-primary">No</a>
</form>

{% endblock %}
