
{% extends 'base.html' %}
{% load group_filters %}
{% load static %}

{% block css %}
<link href="{% static 'css/almsGroups/styles.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

<h3> <span class="text-primary">TOMB</span> - <span class="text-primary">T</span>ools <span class="text-primary">T</span>o <span class="text-primary">M</span>anage <span class="text-primary">B</span>ooks </h3>

<div class="row">
	<form class="form" action="{% url 'getSpreadsheetOfBooks' %}" method="get">
		<div class="col-sm-9">
			<div class="input-group input-group">
				<div class="input-group-btn">
					<select class="btn btn-dropdown" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true" name="field">
						<option value="title">शीर्शकको</option>
						<option value="call_number">कल अंकको</option>
						<option value="publisher__name">प्रकाशकको नाम को</option>
						<option value="publisher__place">प्रकाशित ठाऊँको</option>
					</select>
				</div>
				<div class="input-group-btn">
					<select class="btn btn-dropdown" data-toggle="dropdown" aria-expanded="false" role="button" aria-haspopup="true" name="position">
						<option value="startswith">सुरुमा</option>
						<option value="contains">बिच्चमा</option>
						<option value="endswith">अन्तमा</option>
					</select>
				</div>
				<input type="text" id="searchInputBody" name="search" class="form-control panel-success" aria-label="" required autofocus >
			</div><!-- /input-group -->
		</div>
		<div class="col-sm-3"> 
			<input type="submit" class="btn btn-primary" value="किताबहरू को सुची बनाऊ!">
		</div>
	</form>
</div><!-- /.row -->

<table class="table table-striped">
	<thead>
		<th align=center>Description</th>
		<th align=center>Command</th>
	</thead>
	<tbody>
		<tr>
			<td>
				<p class="text-capitalize text-primary"> Get All the books in spreadsheet format (.xls)</p>
			</td>
			<td>
				<a href="{% url 'spreadsheetGetAllBookData'%}" class="btn btn-primary btn-block">Get All Books' Data</a>
			</td>
		</tr>
		<tr>
			<td>
				<p class="text-capitalize text-primary">Get Books Without Call Number in spreadsheet format (.xls)</p>
			</td>
			<td>
				<a href="{% url 'spreadsheetBooksWithoutCallNumber' %}" class="btn btn-primary btn-block">Get Books Without Call Number</a>
			</td>
		</tr>
		<tr>
			<td>
				<p class="text-capitalize text-primary">Get Borrowed Books in spreadsheet format (.xls)</p>
			</td>
			<td>
				<a href="{% url 'spreadsheetGetBorrowedBookData' %}" class="btn btn-primary btn-block">Get Borrowed Books</a>
			</td>
		</tr>
		<tr>
			<td>
				<p class="text-capitalize text-primary">Get Primary Section Books</p>
			</td>
			<td>
				<a href="{% url 'spreadsheetGetPrimarySectionBooks' %}" class="btn btn-primary btn-block">Get Primary Section Books</a>
			</td>
		</tr>
		<tr>
			<td>
				<p class="text-capitalize text-primary">Get Books Accessioned in the last week in spreadsheet format (.xls)</p>
			</td>
			<td>
				<a href="" class="btn btn-primary btn-block">Get Books Accessioned This Week</a>
			</td>
		</tr>
		<tr>
			<td>
				<p class="text-capitalize text-primary">Get All Publishers in spreadsheet format (.xls)</p>
			</td>
			<td>
				<a href="{% url 'spreadsheetGetAllPublisherData' %}" class="btn btn-primary btn-block">Get All Publishers' Data</a>
			</td>
		</tr>
		<tr>
			<td>
				<p class="text-capitalize text-primary">Get All Authors in spreadsheet format (.xls)</p>
			</td>
			<td>
				<a href="{% url 'spreadsheetGetAllAuthorData' %}" class="btn btn-primary btn-block">Get All Authors' Data</a>
			</td>
		</tr>
	</tbody>
</table>
{% endblock %}


{% block post-js-internal %}

function download(filename, text) {
var pom = document.createElement('a');
pom.setAttribute('href', 'data:text/plain;charset=utf-8,' + encodeURIComponent(text));
pom.setAttribute('download', filename);

if (document.createEvent) {
var event = document.createEvent('MouseEvents');
event.initEvent('click', true, true);
pom.dispatchEvent(event);
}
else {
pom.click();
}
}
{% endblock %}
