

{% extends 'base.html' %}
{% load group_filters %}
{% load static %}

{% block css %}
<link href="{% static 'css/almsGroups/styles.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

<h3>
  <label>
    <span class="text-primary">
      HUGS
    </span>
    - 
    <span class="text-primary">H</span>
  </label>abu's 
  <label>
    <span class="text-primary">U</span>
  </label>nremarkable 
  <label>
    <span class="text-primary">
      G</span>
  </label>roup<label><span class="text-primary">S</span></label>
</h3>
{% if deleted == False %}

<div class="container-fluid">
  <div class="col col-sm-6 col-sm-offset-2">
    <h4>
      Do You Really Want To Delete This Group?
    </h4>
  </div>
</div>
<div class="container-fluid">
  <div class="col col-sm-6 col-sm-offset-4">
    <form method="POST">{% csrf_token %}
      <input type="hidden" value="1" name="really_delete">
      <input type="submit" class="btn btn-success" value="Yes">
      <a href="{% url 'almsGroupsHome' %}" class="btn btn-primary">No</a>
    </form>
  </div>
</div>

{% elif group_found == False %}
<div class="well">
  Oops! The group you are looking for was not found :P
</div>
{% elif deleted == True %}
<div class="well">
  group "{{ group.name }}" was successfully deleted! <a href="{% url 'almsGroupsHome'%}"> <span class="text-primary">Go Back To Groups</span></a>
</div>
{% endif %}
{% endblock %}
