{% extends 'base.html' %}
{% load group_filters %}
{% load nepali %}
{% load static %}

{% block css %}
<link href="{% static 'css/almsGroups/styles.css'%}" rel="stylesheet">
{% endblock %}

{% block content %}

<h3>
  <label>
    <span class="text-primary">
      HUGS
    </span>
    - 
    <span class="text-primary">H</span>
  </label>abu's 
  <label>
    <span class="text-primary">U</span>
  </label>nremarkable 
  <label>
    <span class="text-primary">
      G</span>
  </label>roup<label><span class="text-primary">S</span></label>
</h3>

{% if group_added == 1 %}
<span class="well">
  <span class="text-success">
    The Group <span class="label">{{ group.name }}</label> was created :)
  </span>
</span>
{% endif %}

{% if request.user.is_superuser == True %}
<div class="container-fluid buttons">
  <a href="{% url 'addNewGroup' %}" class="btn btn-primary">
    <span class="glyphicon glyphicon-plus"></span> {{ globals.text.create_group }}</span>
</a>
</div>
{% endif %}

<hr>

<div class="container-fluid group-list">
{% for group in all_groups %}
<div class="well">
  <div class="container-fluid">
    <div class="col col-sm-1">
      <font size=24>{{ group.permissions.all|length|makeGlyphicon|safe }}</font>
    </div>
    <div class="col col-sm-11">
      <div class="col col-sm-11">
        <h4>{{globals.text.name}} - <i>{{ group.name|title }}</i></h4>
      </div>
      {% if request.user.is_superuser == True %}
      <div class="col col-sm-1" align=right>
        <font size="5"><a title="{{ globals.text.delete_group }}"  href="{% url 'deleteGroup' group_id=group.id %}" class="group_delete_link"><span class="glyphicon glyphicon-trash"></span></a></font>
      </div>
      {% endif %}
      <div class="col col-sm-11">
        <h4> {{globals.text.permissions}} - <i>{{ group|getReasonablePermissions|getFormattedPermissions|safe }}</i> </h4>
      </div>
      {% if request.user.is_superuser == True %}
      <div class="col col-sm-1" align=right>
        <font size="5"><a href="{% url 'editGroup' group_id=group.id %}" class="group_edit_link" title="{{ globals.text.edit_group }}"><span class="glyphicon glyphicon-edit"></span></a></font>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
</div>
{% endblock %}
