{% load static %}
{% load datefilters %}
{% load nepali %}


<!DOCTYPE html>
<!-- सुरु -->
<html lang="unicode">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
<title>{{ globals.yalms.sft_short_name }} - {{ globals.yalms.org_short_name }}</title>
<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
<link rel="shortcut icon" href="{% static 'images/logo.ico' %}">

<style>
@font-face{
  font-family: "kalimati";
  src: url("/static/fonts/kalimati.ttf");
}
body{font-family: "kalimati";background-color:#fff;height:100%;}.errorlist{color:red;list-style-type:none;}.form-control{border-radius:0px;}.form-control{transition:border-color0.15sease-in-out0.3s,box-shadow0.5sease-in-out0s;}.form-control:focus{outline:0;-webkit-box-shadow:inset02px2pxinherit,008pxinherit;box-shadow:inset02px2pxinherit,008pxinherit}@keyframeschangebg{from{background-color:#FFD238;}to{background-color:#388FFF;color:#F3EFE0}}.text-primary,.text-info,.label-info,.label-primary{color:{{ main_color }};}.label-primary > .text-primary, .label-primary > .text-info,.label-info > .text-info, .label-info > .text-primary{color: {{ accent_color }};}.label-primary, .label-info{background:{{ main_color }};color: {{ accent_color }};opacity:0.8;}.btn-info,.btn-primary,.btn-success,.btn-warning,.btn-danger{background:#eeeeee;color:#000000;border-color:{{ main_color }};border-width:1px;}.btn:hover{ background-color: {{ main_color }};border-color:{{main_color}} }.navbar>.container.navbar-brand,.navbar>.container-fluid.navbar-brand{margin-left:35px;}.navbar-default{opacity:1;background-color:{{ main_color }};}.navbar-default.navbar-brand{color:#F3EFE0;}.navbar-default.navbar-brand:hover{color:#F3EFE0;}.navbar-default.navbar-nav>li>a{color:{{ main_color}};}.navbar-default.navbar-nav>li>a:hover{color:#F3EFE0;background-color:#0B3D52;}.jumbotron-cus{background-color:{{ main_color }};color:{{ accent_color }};box-shadow:0px5px10px#333;}.page-header{margin: 0px 0px 20px;border-bottom:1px solid #434E3D;}.section{height:100%;min-height:100%;}.img-responsive{margin-left:auto;margin-right:auto;}.footer{position:fixed;bottom:0;width:100%;background-color:#f5f5f5;}.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus{background-color:{{ main_color }};color:#e8ffff;}.sub-header{padding-bottom:10px;border-bottom:1pxsolid#544141;}/**Topnavigation*Hidedefaultbordertoremove1pxline.*/.navbar-fixed-top{border:0;}/**Sidebar*//*Hideformobile,showlater*/.sidebar{display:none;}@media(min-width:768px){.sidebar{position:fixed;top:50px;bottom:0;left:0;z-index:1000;display:block;padding:20px;overflow-x:hidden;overflow-y:auto;/*Scrollablecontentsifviewportisshorterthancontent.*/background-color:white;color:{{ accent_color }};opacity:0.8;border-right:1pxsolid#eee;}}/*Sidebarnavigation*/.nav-sidebar{margin-right:-21px;/*20pxpadding+1pxborder*/margin-bottom:20px;margin-left:-20px;}.nav-sidebar>li>a{padding-right:20px;padding-left:20px;color:{% if accent_color == "#ffffff" %}{{ main_color }} {% else %}{{accent_color}}{% endif %};opacity:1}.nav-sidebar>li>a:hover{color: {{main_color}};opacity:1;}.nav-sidebar>.active>a,.nav-sidebar>.active>a:hover,.nav-sidebar>.active>a:focus{color:{{accent_color}};background-color:#65AD42;}.main{padding-top:5%}@media(min-width:768px){.main{padding-right:40px;padding-left:40px;}}.main.page-header{margin-top:0;}.navbar-default .navbar-nav>li>a,.navbar-default .navbar-brand{ color: {{ accent_color }} }.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-brand:hover{ background-color:{{accent_color}};color: {{ main_color }} }select:select{background-color:{{ accent_color }}}a{color:{{main_color}};text-decoration:none}a:focus,a:hover{color:{{main_color}};text-decoration:underline}a:focus{outline:thin dotted;outline:5px auto -webkit-focus-ring-color;outline-offset:-2px} .navbar-search{padding-top: 0.5em;}
.glyphicon-0:before{ content: "\0966"} .glyphicon-1:before{ content: "\0967"} .glyphicon-2:before{ content: "\0968"} .glyphicon-3:before{ content: "\0969"} .glyphicon-4:before{ content: "\096a"} .glyphicon-5:before{ content: "\096b"} .glyphicon-6:before{ content: "\096c"} .glyphicon-7:before{ content: "\096d"} .glyphicon-8:before{ content: "\096e"} .glyphicon-9:before{ content: "\096f"} .glyphicon-10:before{ content: "\0967\0966"} .glyphicon-11:before{ content: "\0967\0967"} .glyphicon-12:before{ content: "\0967\0968"} .glyphicon-13:before{ content: "\0967\0969"} .glyphicon-14:before{ content: "\0967\096a"} .glyphicon-15:before{ content: "\0967\096b"} .glyphicon-16:before{ content: "\0967\096c"} .glyphicon-17:before{ content: "\0967\096d"} .glyphicon-18:before{ content: "\0967\096e"} .glyphicon-19:before{ content: "\0967\096f"} .glyphicon-20:before{ content: "\0968\0966"} .glyphicon-21:before{ content: "\0968\0967"} .glyphicon-22:before{ content: "\0968\0968"} .glyphicon-23:before{ content: "\0968\0969"} .glyphicon-24:before{ content: "\0968\096a"} .glyphicon-25:before{ content: "\0968\096b"} .glyphicon-26:before{ content: "\0968\096c"} .glyphicon-27:before{ content: "\0968\096d"} .glyphicon-28:before{ content: "\0968\096e"} .glyphicon-29:before{ content: "\0968\096f"} .glyphicon-30:before{ content: "\0969\0966"} .glyphicon-31:before{ content: "\0969\0967"} .glyphicon-32:before{ content: "\0969\0968"} .glyphicon-33:before{ content: "\0969\0969"} .glyphicon-34:before{ content: "\0969\096a"} .glyphicon-35:before{ content: "\0969\096b"} .glyphicon-36:before{ content: "\0969\096c"} .glyphicon-37:before{ content: "\0969\096d"} .glyphicon-38:before{ content: "\0969\096e"} .glyphicon-39:before{ content: "\0969\096f"} .glyphicon-40:before{ content: "\096a\0966"} .glyphicon-41:before{ content: "\096a\0967"} .glyphicon-42:before{ content: "\096a\0968"} .glyphicon-43:before{ content: "\096a\0969"} .glyphicon-44:before{ content: "\096a\096a"} .glyphicon-45:before{ content: "\096a\096b"} .glyphicon-46:before{ content: "\096a\096c"} .glyphicon-47:before{ content: "\096a\096d"} .glyphicon-48:before{ content: "\096a\096e"} .glyphicon-49:before{ content: "\096a\096f"} .glyphicon-50:before{ content: "\096b\0966"} .glyphicon-51:before{ content: "\096b\0967"} .glyphicon-52:before{ content: "\096b\0968"} .glyphicon-53:before{ content: "\096b\0969"} .glyphicon-54:before{ content: "\096b\096a"} .glyphicon-55:before{ content: "\096b\096b"} .glyphicon-56:before{ content: "\096b\096c"} .glyphicon-57:before{ content: "\096b\096d"} .glyphicon-58:before{ content: "\096b\096e"} .glyphicon-59:before{ content: "\096b\096f"} .glyphicon-60:before{ content: "\096c\0966"} .glyphicon-61:before{ content: "\096c\0967"} .glyphicon-62:before{ content: "\096c\0968"} .glyphicon-63:before{ content: "\096c\0969"} .glyphicon-64:before{ content: "\096c\096a"} .glyphicon-65:before{ content: "\096c\096b"} .glyphicon-66:before{ content: "\096c\096c"} .glyphicon-67:before{ content: "\096c\096d"} .glyphicon-68:before{ content: "\096c\096e"} .glyphicon-69:before{ content: "\096c\096f"} .glyphicon-70:before{ content: "\096d\0966"} .glyphicon-71:before{ content: "\096d\0967"} .glyphicon-72:before{ content: "\096d\0968"} .glyphicon-73:before{ content: "\096d\0969"} .glyphicon-74:before{ content: "\096d\096a"} .glyphicon-75:before{ content: "\096d\096b"} .glyphicon-76:before{ content: "\096d\096c"} .glyphicon-77:before{ content: "\096d\096d"} .glyphicon-78:before{ content: "\096d\096e"} .glyphicon-79:before{ content: "\096d\096f"} .glyphicon-80:before{ content: "\096e\0966"} .glyphicon-81:before{ content: "\096e\0967"} .glyphicon-82:before{ content: "\096e\0968"} .glyphicon-83:before{ content: "\096e\0969"} .glyphicon-84:before{ content: "\096e\096a"} .glyphicon-85:before{ content: "\096e\096b"} .glyphicon-86:before{ content: "\096e\096c"} .glyphicon-87:before{ content: "\096e\096d"} .glyphicon-88:before{ content: "\096e\096e"} .glyphicon-89:before{ content: "\096e\096f"} .glyphicon-90:before{ content: "\096f\0966"} .glyphicon-91:before{ content: "\096f\0967"} .glyphicon-92:before{ content: "\096f\0968"} .glyphicon-93:before{ content: "\096f\0969"} .glyphicon-94:before{ content: "\096f\096a"} .glyphicon-95:before{ content: "\096f\096b"} .glyphicon-96:before{ content: "\096f\096c"} .glyphicon-97:before{ content: "\096f\096d"} .glyphicon-98:before{ content: "\096f\096e"} .glyphicon-99:before{ content: "\096f\096f"}
.btn-dropdown,.btn-dropdown:hover,.btn-dropdown:active{ background-color:{{ accent_color }};color: {{main_color}}; padding-bottom:0;  }
.logo{
  background: url("/static/images/siya.png") center no-repeat;
  background-size: 200px;
  height: 100px;
}

.logo_2{
  background-size: 100%;
  height: 200px;
}
.navbar-inactive:hover{
  background-color:{{ main_color }};
}
.navbar-default{
  padding-left: 0.5%;
  padding-right: 0.5%;
}
.form-control{
  width: unset;
  transition: border-color 0.15s ease-in-out 0.3s, box-shadow 0.5s ease-in-out 0s;
}
.form-control:focus{
  border-color:{{ main_color }};
  outline:0;
  -webkit-box-shadow:inset 0 2px 2px rgba(0,0,0,.075),0 0 8px rgba(0,175,0,.6);
  box-shadow:inset 0 2px 2px rgba(0,0,0,.075),0 0 8px rgba(0,175,0,.6)
}

</style>
<style>
{% block css-code %}
{% endblock %}
</style>
{% block css %}
{% endblock %}
{% block head %}
{% endblock %}
</head>
<body>
<div class="container-fluid">
  {% block nav %}
  <!-- navbar -->
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="{% if request.user.is_authenticated %} {% url 'dashboard' %} {% else %} {% url 'home' %}{% endif %}" class="navbar-brand">{{ globals.yalms.sft_short_name|upper }}</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="{% url 'home' %}"><span class="glyphicon glyphicon-home"></span>  {{ globals.text.home }}</a></li>
          {% if request.user.is_authenticated %}
          <li> <a href="{% url 'entry' %}"> <span class="glyphicon glyphicon-plus"></span>  {{ globals.text.add_new_record }}</a></li>
          {% endif %}
        </ul>
        {% block search_navbar %}
        {% include "head/search_navbar.html" %}
        {% endblock %}
        <ul class="nav navbar-nav navbar-right">
          <li><a class="navbar-inactive" title="{{ date|date:"d M Y"}}" href="javascript:swapDate();" id="navDateElement">{{date|tobs|pdate}} </a></li>
          {% if request.user.is_authenticated %}
	  
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ request.user.first_name|title|truncatechars:10 }} <span class="glyphicon glyphicon-menu-down"></span></a>
          <ul class="dropdown-menu">
            <li><a href="{% url 'profile' username=request.user.username %}"> <span class="glyphicon glyphicon-user"></span>  {{ request.user.first_name }}को परिचय </a></li>
            <li><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-log-out"></span> {{ globals.text.logout }}</a></li>
          </ul>
          </li>
          {% else %}
          <li><a href="{% url 'login' %}"><span class="glyphicon glyphicon-log-in"></span> {{ globals.text.login }}</a></li>
          {% endif %}

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  {% endblock %}
</div> <!-- container-fluid -->

{% block extras %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar" id="sidePanel">
      <ul class="nav nav-sidebar" align=center>
        <li class="logo button" href="{% url 'home' %}">
        </li>
      </ul>
      <ul class="nav nav-sidebar">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'dashboard' %}"><span class="glyphicon glyphicon-dashboard"></span> {{ globals.text.dashboard }}</a></li>
        {% endif %}
      </ul>
      <ul class="nav nav-sidebar">
        {% if request.user.is_authenticated %}
        <li><a href="{% url 'search-member' %}"><span class="glyphicon glyphicon-search"></span>  {{ globals.text.find_person }}</a></li>
        {% endif %}
      </ul>
      <ul class="nav nav-sidebar">
        <li>
        {% if request.user.is_authenticated %}
        <a href="{% url 'lend-book' %}">
          <span class="glyphicon glyphicon-book"></span> {{ globals.text.lend_book }}
        </a>
        {% endif %}
        </li>
        <li>
        {% if request.user.is_authenticated %}
        <a href="{% url 'return-book' %}">
          <span class="glyphicon glyphicon-book"></span> {{ globals.text.return_book }}
        </a>
        {% endif %}
        </li>
      </ul>
      {% if user.is_staff %}
      <ul class="nav nav-sidebar">
        <li>
        <input class="form-control" id="checkIfAccessionNumberExistsInput" type="text" placeholder="{{ globals.text.accession_number }} छ?">
        </li>
        <li>
        <button class="btn btn-primary" onclick="checkIfAccessionNumberExists('checkIfAccessionNumberExistsInput','accNoExistsSpan','accNoDoesNotExistSpan', 'accNoExistsNoOfBooksSpan')">
          {{ globals.text.accession_number }} छ?
        </button>
        </li>
        <li>
        <div class='panel panel-success initHide' id="accNoExistsSpan">
          <div class='panel-heading'>
            <span id="accNoExistsNoOfBooksSpan"></span> किताबहरुमा {{ globals.text.accession_number }} छ!
          </div>
        </div>
        </li>
        <li>
        <div class='panel panel-danger initHide' id="accNoDoesNotExistSpan">
          <div class='panel-heading'>
            {{ globals.text.accession_number }} छैन।
          </div>
        </div>
        </li>
      </ul>
      {% endif %}
    </div> <!-- sidePanel -->
    <div class="col col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2">
      {% endblock %}
      <div class="main">
        {% block title-tag %}
        <div class="container-fluid">
          <h2 class="page-header"><a href="{% url 'about-library' %}">{{ globals.yalms.org_long_name }}</a></h2>
          <h4><span class="text-info page-subheader">{{ globals.yalms.org_motto }}</span></h4>
        </div> <!-- end container fluid -->
        {% endblock %}

        {% block content %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
</body>
{% block pre-js-external %}
{% endblock %}
<script>
{% block pre-js-internal %}
{% endblock %}
</script>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{% static 'bootstrap/js/jquery.js' %}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/all_pages.js' %}"></script>

{% block post-js-external %}
{% endblock %}
<script>
var np_date = "{{date|tobs|pdate}}";
var en_date = "{{ date|date:"d M Y" }}";
function swapDate(){
  var element = x = document.getElementById("navDateElement");
  if (element.text == en_date){
    element.text = np_date;
    element.title = en_date;
  }
  else{
    element.text = en_date;
    element.title = np_date;
  }
}
{% block post-js-internal %}
{% endblock %}
</script>
</html>
